<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" type="text/css" href="/static/css/main.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/dcalendar.picker.css"/>
<body>
<div class="tile">
    <div class="tile-body">
       <a class="btn btn-info" id="demoNotify" href="#">点击</a>
    </div>
</div>
</body>
<script src="/static/js/jquery-3.2.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-notify.min.js"></script>
<script src="/static/js/main.js"></script>
<script src="/static/js/plugins/pace.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/dataTables.bootstrap.min.js"></script>
<script type="text/javascript">$('#sampleTable').DataTable();</script>
<script type="text/javascript">
    $('#demoNotify').click(function() {
        $.notify({
            title: "!",
            offset: "50",
            message: "这是内容"
        }, {
            /*提示类型  info,  success , warning,danger*/
            type: 'info'
        });
    });
</script>
</html>